
<div class="hero-unit">
<h1>Welcome to Teamspace</h1>
<p>Find people to play your favorite sports with.</p>
<p><%= link_to "Sign up now","#", class: "btn btn-primary btn-large btn-custom"%></p>
</div>

